<!-- About us-->
<div class="product-lead bottom-pad">
  <div class="bg-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 text-center animate_afl d1">
          <img src="imgCarbol/porche.jpg" alt="">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 animate_afr d3">
          <div class="app-service">
            <h3>Chi siamo</h3>
            <h4>Siamo specializzati nella riparazione delle auto danneggiate dalla grandine, senza stuccare e riverniciare, mantenendo intatta la vernice originale. La professionalità e l'esperienza maturata nel settore con oltre 20 anni di attività ci permette di offrire un servizio di alta qualità su qualsiasi tipo di veicolo.</h4>
            <p>
	      CARBOL è in grado di offrire una copertura totale del territorio nazionale ed internazionale, consentendo tempestività dei propri interventi direttamente presso il cliente, avvalendosi di tecnici altamente specializzati e tramite l'utilizzo di strumentazioni brevettate.
            </p>
            <div id="service" class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- About us end--> 
