<!-- benefits-->
<div class="product-lead bottom-pad">
  <div class="bg-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 text-center animate_afl d1">
          <img src="imgCarbol/risparmio.jpg" alt="">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 animate_afr d3">
          <div class="app-service">
            <h3>Vantaggi</h3>
            <li>Garanzia di un lavoro eseguito a regola d'arte. Vantiamo 18 anni di esperienza lavorativa con le maggiori case automobilistiche.</li>
	    <li>Vantaggio di avere il nostro servizio direttamente presso la Vostra sede.</li>
	    <li>Risparmio notevole di denaro mantenendo l'originalità della Vostra auto.</li>
	    <li>Tempi ridotti di riparazione, alcuni lavori anche in pochi minuti, vetture grandinate in poche ore.</li>
	    <li>Rispetto per l'ambiente, con il nostro metodo non immettiamo residui di vernicatura, solventi e sostanze tossiche per la riparazione, il nostro sistema è totalmente ecologico al 100%.</li>
	    <li>Garanzia di aver scelto un partner che vanta una qualità indiscussa sui lavori.</li>
            <div id="work" class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- benefits  end--> 
