<!-- courses -->
<div class="product-lead bottom-pad">
  <div class="bg-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 text-center animate_afl d1">
          <img src="imgCarbol/corsi.jpg" style="margin-bottom:10px;" alt="">
	  <img src="imgCarbol/franchising.jpg" alt="">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 animate_afr d3">
          <div class="app-service">
            <h3>CORSI & FRANCHISING</h3>
            <p>Cerchi lavoro?<br>Apprendi un nuovo mestiere con i nostri corsi che ti permetteranno di acquisire la capacità di riparare le autovetture dalla grandine e da ammaccature senza l’uso di vernice o stucco mantenendo intatta la vernice.<br>I corsi sono tenuti esclusivamente dal personale della rete Carbol ®, sono teorici, ma soprattutto pratici, e non è richiesta nessuna pregressa esperienza nel campo.<br>Quello del Tirabolli è un mestiere che richiede manualità e sarai in grado di apprenderla durante le nostre lezioni.</p> 
	    <p>I vantaggi dell’affiliazione sono:</p>
	    <li>Apprendi un mestiere ancora poco diffuso.</li> 
	    <li>Investire poco, le attrezzature sono leve.</li>
	    <li>Intervenire direttamente presso il cliente, senza una sede fissa.</li>
	    <p></p>
	    <p>Vi forniremo:</p> 
	    <li>Il nostro supporto durante tutte le lezioni.</li>
	    <li>Le attrezzature specifiche Carbol®.</li>
	    <li>Indumenti personalizzati Carbol®.</li> 
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<!--  end--> 
