<!-- courses -->
<div class="product-lead bottom-pad">
  <div class="bg-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 text-center animate_afl d1">
          <img src="imgCarbol/corsi.jpg" style="margin-bottom:10px;" alt="">
	  <img src="imgCarbol/franchising.jpg" alt="">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 animate_afr d3">
          <div class="app-service">
            <h3>CORSI & FRANCHISING</h3>
            <p>Potrai imparare un mestiere, e potrai farlo in Franchising !</p> 
	    <p>L'affiliazione ha tantissimi vantaggi :</p>
	    <li>POSSIBILITA' DI GUADAGNO IMPARANDO UN MESTIERE ANCORA POCO DIFFUSO</li> 
	    <li>INVESTIMENTO MINIMO, GLI ATTREZZI DEL MESTIERE SONO LEVE</li>
	    <li>NESSUNA NECESSITA' DI UNA LOCATION FISSA,SI PUO' INTERVENIRE DIRETTAMENTE PRESSO IL CLIENTE</li>
	    <li>RELATIVO ABBATTIMENTO DEI COSTI FISSI MENSILI</li>
	    <p></p>
	    <p>Vi forniremo :</p> 
	    <li>Le ATTREZZATURE specifiche</li>
	    <li>Il nostro supporto e la nostra conoscenza</li>
	    <li>Gli indumenti personalizzati per lavorare</li> 
	    <p></p>
	    <p>I nostri CORSI sono teorici ma soprattutto PRATICI, per acquisire con disinvoltura tutte le tecniche. 
Non è richiesta nessuna esperienza nel settore, quello del levabolli è un mestiere che richiede manualità, e la si acquisice direttamente sul campo di lavoro.</p> 
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<!--  end--> 
