<!-- Footer Start -->
<footer id="footer">
  <!-- Footer Top Start -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
          <h3>CARBOL S.a.s. di Martino Michele & C.</h3>
          <p> 
            Siamo disponibili previo appuntamento telefonico
          </p>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
          <h3>Contattaci</h3>
          <ul class="contact-us">
            <li>
              <i class="fa fa-phone"></i>
              <p><strong>Cel:</strong> +39 338.289.67.78</p>
            </li>
	    <li>
              <i class="fa fa-phone"></i>
              <p><strong>Telefono:</strong> +39 011.90.31.749</p>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <p><strong>Email:</strong><a href="mailto:carbol@email.it">carbol@email.it</a></p>
            </li>
          </ul>
        </section>
	<section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
          <img src="/imgCarbol/contattaci.jpg" />
        </section>
      </div>
    </div>
  </div>
  <!-- Footer Top End --> 
  <!-- Footer Bottom Start -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 "> &copy; Copyright 2015 by <a href="#">Carbol</a>. All Rights Reserved. </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
          <ul class="social social-icons-footer-bottom">
            <li class="facebook"><a href="https://www.facebook.com/pages/Carbol-Levabolli/970176552994724" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Bottom End --> 
</footer>
