<!-- Header Start -->
<header id="header">
  
  <!-- Header Top Bar Start -->
  <div class="top-bar">
    <div class="slidedown collapse">
      <div class="container">
        <div class="phone-email pull-left">
          <a><i class="fa fa-phone"></i> Telefono : +39 338 2896778</a>
          <a href="support@fifothemes.com"><i class="fa fa-envelope"></i> Email : carbol@email.it</a>
        </div>
        <div class="follow-us pull-right">
          <ul class="social pull-left">
            <li class="facebook"><a href="https://www.facebook.com/pages/Carbol-Levabolli/970176552994724"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Top Bar End -->
  
  <!-- Main Header Start -->
  <div class="main-header">
    <div class="container">
      <!-- TopNav Start -->
      <div class="topnav navbar-header">
        <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
          <i class="fa fa-angle-down icon-current"></i>
        </a> 
      </div>
      <!-- TopNav End -->
      
      <!-- Logo Start -->
      <div class="logo pull-left">
        <h1>
          <a href="/">
            <img src="imgCarbol/logoCarbol.png" alt="Logo Carbol" width="313" height="70">
          </a>
        </h1>
      </div>
      <!-- Logo End -->
      
      <!-- Mobile Menu Start -->
      <div class="mobile navbar-header">
        <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
          <i class="fa fa-bars fa-2x"></i>
        </a> 
      </div>
      <!-- Mobile Menu End -->
      
      <!-- Menu Start -->
      <nav class="collapse navbar-collapse menu">
        <ul class="nav navbar-nav sf-menu">
	  <li>
            <a href="#about">
              Chi Siamo
            </a>
          </li>
	  <li>
            <a href="#service">
              Servizi
            </a>
          </li>
	  <li>
            <a href="#method">
              Metodo
            </a>
          </li>
	  <li>
            <a href="#tools">
              Attrezzature
            </a>
          </li>
	  <li>
            <a href="#benefits">
              Vantaggi
            </a>
          </li>
	  <li>
            <a href="#work">
              Lavori
            </a>
          </li>
	  <li>
            <a href="#courses">
              Corsi & Franchising
            </a>
          </li>
          <li><a href="#footer">
              Contatti
            </a>
          </li>
        </ul>
      </nav>
      <!-- Menu End --> 
    </div>
  </div>
  <!-- Main Header End -->
</header>
<!-- Header End -->
