<!-- method-->
<div class="product-lead bottom-pad">
  <div class="bg-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 text-center animate_afl d1">
          <img src="imgCarbol/metodo.jpg" alt="">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 animate_afr d3">
          <div class="app-service">
            <h3>Metodo</h3>
            <p>Alla costante ricerca di un'innovazione risolutiva per offrire qualità di riparazioni anche su autovetture in alluminio, usando attrezzi per quest'ultimo materiale, idonei a garantire un lavoro di altissimo livello con le nostre nuove leve rivestite in teflon.</p><p>Le nuove autovetture in commercio necessitano di esperti smontatori per il ripristino di ammaccature o grandine sui propri particolari, per questo noi della CARBOL siamo in grado di smontare e rimontare qualsiasi tipo di autoveicolo, con l'esperienza maturata in oltre 20 anni di lavoro anche in grossi parchi auto, garantendo nelle fasi di smontaggio e rimontaggio un grado di qualità elevata.</p>
            <div id="tools" class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- method end--> 

