<!-- Features start -->  
<div class="features bottom-pad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3  class="title">I nostri servizi</h3>
        <div class="row">
          <div class="circular-nav">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 animate_afl">
              <div id="cn-tabs">
                <div class="service service-1">
                  <div class="cn-content">
                    <h4>Concessionarie</h4>
                    <p>Servizio a domicilio, per non movimentare le autovetture ferme, nel salone di esposizione.
Riparazioni rapide e risolutive con un partner come CARBOL.</p>
		    <p>Risparmio di oltre il 70% rispetto al sistema tradizionale.</p>
                    <img src="/imgCarbol/servizi/concessionaria.jpg" style="height:229px;width:343px;" />
                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="service service-2">
                  <div class="cn-content">
                    <h4>Carrozzerie</h4>
                    <p>Offriamo in tempi brevi il nostro servizio presso la vostra sede al fine di farvi evitare riverniciature e lunghi tempi di preparazione delle autovetture, incrementando in questo modo i vostri guadagni e facendovi risparmiare molto tempo. Se infatti un intervento tradizionale richiede 8 giorni lavorativi, il metodo LEVABOLLI consente al proprietario di entrare in possesso del proprio veicolo entro 24 h.</p>
                    <img src="/imgCarbol/servizi/carrozzeria1.jpg" style="height:229px; width:300px;float: left;" />
		    <img src="/imgCarbol/servizi/carrozzeria2.jpg" style="height:229px;width:300px;" />
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="service service-3">
                  <div class="cn-content">
                    <h4>Societ&agrave; Noleggio</h4>
                    <p>Ripristinare le auto a noleggio non è mai stato così facile.</p><p>
Prenotando un appuntamento in poche ore avrete il nostro servizio presso di voi, eliminando danni da parcheggio e grandine con il vantaggio dell'originalità della Vostra autovettura e costi ridottissimi.</p>
                    <!-- <img src="/imgCarbol/servizi/noleggio1.jpg" style="height:229px; width:300px;float: left;" /> -->
		    <!-- <img src="/imgCarbol/servizi/noleggio2.jpg" style="height:229px;width:300px;" /> -->
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="service service-4">
                  <div class="cn-content">
                    <h4>Parchi Auto</h4>
                    <p>Strutturati a far fronte a numerose autovetture danneggiate da grandine, la CARBOL offre il servizio di riparazione con eccellenti risultati, anche su autovetture nuove, con smontaggio, riparazione e montaggio effettuato da personale altamente qualificato e in tempi brevi.</p>
                    <img src="/imgCarbol/servizi/parchiAuto.jpg" style="height:229px;width:367px;" />
                    
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="service service-5">
                  <div class="cn-content">
                    <h4>Privati</h4>
                    <p>Niente di più facile che una telefonata presso i nostri numeri e fisseremo un appuntamento direttamente presso di voi per stilarvi un preventivo gratuito per la riparazione della vostra autovettura senza fermo vettura a lungo termine.</p>
                    <p>Entro poche ore ripareremo le Vostre auto colpite da grandine o bolli da parcheggio, risparmiando oltre il 70% rispetto ai metodi tradizionali, evitando l'intermediazione del carrozziere e mantenendo inoltre inalternato il valore dell'autovettura. Avrete infine la garanzia di un lavoro eseguito a regola d'arte.</p>
                    <img src="/imgCarbol/servizi/privati.jpg" style="height:229px;width:343px;" />
                  </div>
                  <div class="clearfix"></div>
                </div>
               
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 animate_afr">
              <div class="cn-wrapper">
                <ul>
                  <li class="circle-1 circle"><a class="active" href="#"><span class="fa">1</span></a></li>
                  <li class="circle-2 circle"><a href="#"><span class="fa">2</span></a></li>
                  <li class="circle-3 circle"><a href="#"><span class="fa">3</span> </a></li>
                  <li class="circle-4 circle"><a href="#"><span class="fa">4</span></a></li>
                  <li class="circle-5 circle"><a href="#"><span class="fa">5</span></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="method"></div>
</div>

<!-- Features End -->
