<!-- Slogan Start-->
<div id="about" class="slogan bottom-pad-small">
  <div class="container">
    <div class="row">
      <div class="slogan-content">
        <div class="col-lg-9 col-md-9">
          <h1 class="slogan-title">Gli specialisti della grandine da oltre 20 anni!</h1>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- Slogan End--> 
