<!-- tools -->
<div class="product-lead bottom-pad">
  <div class="bg-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 text-center animate_afl d1">
          <img src="imgCarbol/tools.jpg" alt="">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 animate_afr d3">
          <div class="app-service">
            <h3>Attrezzature</h3>
            <p>Con attrezzi specifici, massaggiamo delicatamenente le lamiere, riportando allo stato originale il particolare danneggiato, senza lasciare traccia di lavorazione.</p><p>Siamo in grado di riparare danni da grandine, ammaccature e urti  accidentali. REALIZZIAMO  e VENDIAMO attrezzature, leve ed accessori, sempre pi&ugrave; innovative per 'tiraggio a freddo' della lamiera.</p>   
            <div id="benefits" class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- tools end--> 
