<div class="bottom-pad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animate_afl d1">
        <h3 class="title">Garanzie</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="row portfolio-pad">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d4">
            <div class="portfolio-item">
              <img src="imgCarbol/garanzia/garanzia.jpg" alt=" "/>
              <div class="portfolio-item-title">
                <a href="single-project.html">Soddisfazione e Garanzia al 100%</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
	  
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d3">
            <div class="portfolio-item">
              <img src="imgCarbol/garanzia/convenzioni.jpg" alt=" "/>
              <div class="portfolio-item-title">
                <a href="single-project.html">Convenzioni</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          
	  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d2">
            <div class="portfolio-item">
              <img src="imgCarbol/garanzia/eco.jpg" alt=" "/>
              <div class="portfolio-item-title">
                Rispettiamo l'ambiente
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

